div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

a[href="https://shkolladigjitale.com/"] {
    color: red;
}

p[class$="ds"] {
    background-color: blue;
    color: white;
    padding: 20px;
}

div[id^="ds"] {
    background: green;
    color: white;
    padding: 20px;
}

img[title^="blue"] {
    border: 2px solid blue;
}

h1.heading_1 {
    background-color: purple;
    padding: 20px;
    color: white;
}

input[placeholder$="name"] {
    border: 2px solid red;
}

input[readonly] {
    border: 2px solid green;
}
