div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img{
    width: 100%;
    height: auto;

}
div.desc{
    padding: 15px;
    text-align: center;
}

.sprite{
    background: url("../images/4.jpg") no-repeat;
}

.engineers{
    width: 500px;
    height: 500px;
    display: inline-block;
    background-position: -500px -500px;
}